.single-chart {
  width: 200px;
  display: inline-block;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: butt;
  animation: progress 1s ease-in-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.percent100 .circle {
  stroke: #008737;
}

.circular-chart.percent5199 .circle {
  stroke: #76b751;
}

.circular-chart.percent1150 .circle {
  stroke: #f89525;
}

.circular-chart.percent10 .circle {
  stroke: #e75746;
}

.percentage {
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage.percent100 {
  fill: #008737;
}

.percentage.percent5199 {
  fill: #76b751;
}

.percentage.percent1150 {
  fill: #f89525;
}

.percentage.percent10 {
  fill: #e75746;
}
